body {
	--bs-body-bg: light-dark(white, #212121);
}

/* ------------------------------- */
/* Font Adjustments */
html :is(.person-new-designed .tab-content p, .person-new-designed .tab-content li) {
	font-family: 'Epilogue', sans-serif;
	line-height: 1.4;
}

/* headings */
html
	:is(span[style='font-size: 30px;'], span[style='font-size: 30px; font-weight: 400;'], #main-content > .profile .profile-block__name, ) {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 500;
}
