body {
	--bs-body-bg: light-dark(white, #212121);
}

/* ------------------------------- */
/* Font Adjustments */
html :is(.person-new-designed .tab-content p, .person-new-designed .tab-content li) {
	font-family: 'Epilogue', sans-serif;
	line-height: 1.4;
}

/* headings */
html
	:is(span[style='font-size: 30px;'], span[style='font-size: 30px; font-weight: 400;'], #main-content > .profile .profile-block__name, ) {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 500;
}

/* Immunify360 */
body {
	margin: 0;
}
#outer-container:has(.throbber) {
	margin: 3rem auto;

	.throbber + #text {
		float: unset;
		height: unset;
		letter-spacing: unset;
		line-height: 1.2;
		font-size: 1.75rem;
		margin-top: 1rem;
		font-weight: 500;
		font-family: 'Epilogue', sans-serif;
		color: inherit;
	}

	.spinner {
		animation:
			continuous-rotation 1.5s ease-in forwards,
			continuous-rotation 1s linear 1.5s infinite;
	}

	.spinner path {
		fill: currentColor;
	}
}
@media (min-width: 1450px) {
	#outer-container:has(.throbber) #container {
		border: 1px solid var(--shi-divider-color);
	}
}
@keyframes continuous-rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
